.footer {
    display: flex;
}

.footer .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #FFF;
}

.footer .social-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    gap: 15px;
}