.footer .gridbox {
    flex: 1;
    align-items: center;
}

.footer .gridbox .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    color: #FFF;
}

.footer .gridbox .copyright {
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
    justify-content: center;
}

.footer .gridbox .copyright p {
    color: #FFF;
    margin: 0;
    font-size: 10px;
}

.footer .gridbox .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    gap: 30px;
}

.footer .gridbox .social-links i {
    color: #FFF;
}