.wrapper-containerbox .water-station-containerbox .products-reviews-containerbox .products-reviews-tab .reviews-list-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.wrapper-containerbox .water-station-containerbox .products-reviews-containerbox .products-reviews-tab .review-box .footer .info {
    display: flex;
    gap: 25px;
}