body {
    font-family: "Poppins", sans-serif !important;
}

$min-contrast-ratio: 2.5;
$primary: #03A9F4;
$secondary: #e9f8ff;

@import "~bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons";