.header {
    display: flex;
}

.header .logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.header .navlinks {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
}

.header .account {
    flex: 1;
    justify-content: flex-end;
    gap: 5px;
}