.headerbox {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    padding: 0;
}

.headerbox .header {
    display: flex;
}

.headerbox .header .logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.headerbox .header .navlinks {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
}

.headerbox .header .navlinks a {
    color: #AAA;
    text-decoration: none;
}

.headerbox .header .account {
    flex: 1;
    justify-content: flex-end;
    gap: 5px;
}

.headerbox .header .account .sign-in {
    text-decoration: none;
}