.wrapper {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 100px 0px 100px 0px;
}

.mainbox {
    background-image: url("./landing_background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main {
    display: flex;
    height: 700px;
    align-items: center;
    padding: 25px;
}

.main .home-text {
    width: 40%;
}

.main .home-text .title {
    font-weight: 900;
}

.main .home-text button {
    padding: 10px 20px;
    font-size: 18px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.about .text {
    text-align: center;
}

.about .images {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.about .images .step1, .about .images .step2, .about .images .step3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}

.contact .text {
    text-align: center;
}

.contact .methods .phone, .contact .methods .email, .contact .methods .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact .methods .phone .information, .contact .methods .email .information, .contact .methods .address .information {
    text-align: center;
}