.wrapper-containerbox {
    display: flex;
    justify-content: center;
    padding: 100px 25px 100px 25px;
    min-height: 100vh;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper-containerbox .water-stations-containerbox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    border-radius: 15px;
    background-color: #FFF;
    height: 100%;
}

.wrapper-containerbox .water-stations-containerbox .searchbox {
    display: flex;
    justify-content: flex-end;
}

.wrapper-containerbox .water-stations-containerbox .water-stations-listbox {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.wrapper-containerbox .water-stations-containerbox .water-stations-listbox .card .footer {
    display: flex;
    justify-content: space-between;
}

.wrapper-containerbox .water-stations-containerbox .water-stations-listbox .card .footer .info {
    display: flex;
    gap: 25px;
}

.wrapper-containerbox .water-stations-containerbox .water-stations-listbox .card .footer .viewbox {
    display: flex;
    justify-content: flex-end;
}

.wrapper-containerbox .water-stations-containerbox .water-stations-listbox .card .footer .viewbox .view-button {
    width: 100%;
}